node_modules
Aufgabe07/interface.js.map
Aufgabe07/interface.ts
Aufgabe09/script.js
Aufgabe09/script.js.map
Aufgabe11/Database/_mdb_catalog.wt
Aufgabe11/Database/collection-0--5465373250218228401.wt
Aufgabe11/Database/collection-2--5465373250218228401.wt
Aufgabe11/Database/collection-4--5465373250218228401.wt
Aufgabe11/Database/diagnostic.data/metrics.2020-07-08T12-04-57Z-00000
Aufgabe11/Database/diagnostic.data/metrics.2020-07-08T12-22-24Z-00000
Aufgabe11/Database/index-1--5465373250218228401.wt
Aufgabe11/Database/index-3--5465373250218228401.wt
Aufgabe11/Database/index-5--5465373250218228401.wt
Aufgabe11/Database/index-6--5465373250218228401.wt
Aufgabe11/Database/journal/WiredTigerLog.0000000002
Aufgabe11/Database/journal/WiredTigerPreplog.0000000001
Aufgabe11/Database/journal/WiredTigerPreplog.0000000002
Aufgabe11/Database/mongod.lock
Aufgabe11/Database/sizeStorer.wt
Aufgabe11/Database/storage.bson
Aufgabe11/Database/WiredTiger
Aufgabe11/Database/WiredTiger.lock
Aufgabe11/Database/WiredTiger.turtle
Aufgabe11/Database/WiredTiger.wt
Aufgabe11/Database/WiredTigerLAS.wt
Aufgabe11/form.html
Aufgabe11/script.js
Aufgabe11/script.js.map
Aufgabe11/script.ts
PrüfungsaufgabeGiS/Datenbank/_mdb_catalog.wt
PrüfungsaufgabeGiS/Datenbank/collection-0-5942621395512163915.wt
PrüfungsaufgabeGiS/Datenbank/collection-2-5942621395512163915.wt
PrüfungsaufgabeGiS/Datenbank/collection-4-5942621395512163915.wt
PrüfungsaufgabeGiS/Datenbank/collection-8-5942621395512163915.wt
PrüfungsaufgabeGiS/Datenbank/diagnostic.data/metrics.2020-07-22T17-56-48Z-00000
PrüfungsaufgabeGiS/Datenbank/diagnostic.data/metrics.interim
PrüfungsaufgabeGiS/Datenbank/index-1-5942621395512163915.wt
PrüfungsaufgabeGiS/Datenbank/index-3-5942621395512163915.wt
PrüfungsaufgabeGiS/Datenbank/index-5-5942621395512163915.wt
PrüfungsaufgabeGiS/Datenbank/index-6-5942621395512163915.wt
PrüfungsaufgabeGiS/Datenbank/index-9-5942621395512163915.wt
PrüfungsaufgabeGiS/Datenbank/journal/WiredTigerLog.0000000001
PrüfungsaufgabeGiS/Datenbank/journal/WiredTigerPreplog.0000000001
PrüfungsaufgabeGiS/Datenbank/journal/WiredTigerPreplog.0000000002
PrüfungsaufgabeGiS/Datenbank/mongod.lock
PrüfungsaufgabeGiS/Datenbank/sizeStorer.wt
PrüfungsaufgabeGiS/Datenbank/storage.bson
PrüfungsaufgabeGiS/Datenbank/WiredTiger
PrüfungsaufgabeGiS/Datenbank/WiredTiger.lock
PrüfungsaufgabeGiS/Datenbank/WiredTiger.turtle
PrüfungsaufgabeGiS/Datenbank/WiredTiger.wt
PrüfungsaufgabeGiS/Datenbank/WiredTigerLAS.wt
PrüfungsaufgabeGiS/Datenbank/diagnostic.data/metrics.2020-07-24T13-41-22Z-00000
PrüfungsaufgabeGiS/Datenbank/diagnostic.data/metrics.interim.temp
PrüfungsaufgabeGiS/Datenbank/journal/WiredTigerLog.0000000002
