body{
    background-image: url(pictures/backgrounds/checkerboard-cross/checkerboard-cross.png);
    background-repeat: repeat;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.header-contain {
    height: 200px;
    z-index: 3;
    position: fixed;
    width: 100%;
    background-image: url(pictures/backgrounds/ICnew2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -20px;
}

.main-text {
    color: azure;
    font-size: 60px;
    font-family: cursive;
    margin-top: -120px;
}

.main-text span.border {
    position: relative;
    top: 150px;
    background-color: bisque;
    color: #fff;
    padding: 18px;
    font-size: 50px;
    letter-spacing: 10px;
    opacity: 85%;
    border-radius: 20px;
}

.divider {
    background-image: url(pictures/backgrounds/bg-img3.jpeg);
    width: 1500px;
    height: 36px;
    margin-top: 20px;
    position: fixed;
    left: 0px;
    top: 143px;
    opacity: 75%;
}

.menü {
    top: 14px;
    position: relative;
    left: -130px;
}

a:hover {
    background-color: pink;
    padding: 8.5px;
    padding-left: 17px;
}

nav {
    left: 370px;
    position: sticky;
    top: 250px;
    width: 320px;
    border-radius: 20px;
}

a{
    margin-left: 40px;
    text-decoration: none;
    color: black;
    position: relative;
    letter-spacing: 2mm;
    margin-bottom: 5px;
    bottom: 5px;
}

img#a3 {
    height: 20px;
    width: 20px;
    position: relative;
    border: none;
    padding: 0px;
    left: 30px;
}

img#a3:hover{
    background-color: pink;
    
}

img#logo {
    position: absolute;
    left: 0px;
    top: -16px;
    z-index: 99;
}

.Artikel {
    position: relative;
    top: 300px;
    right: px;
}

button#deleteAll {
    position: fixed;
    font-family: cursive;
    top: 240px;
    right: 1170px;
    background-color: cadetblue;
    color: white;
    padding: 10px;
    border: black 2px;
    z-index: 100;
}

button#deleteAll:hover {
    font-family: cursive;
    position: fixed;
    top: 240px;
    right: 1170px;
    background-color: pink;
    color: white;
    padding: 10px;
    border: black 2px;
    z-index:100;

}
button#send {
    font-family: cursive;
    margin-bottom: 30px;
    background-color: cadetblue;
    color: white;
    padding: 16px;
    border: black 2px;
    position: relative;
    left: -107px;
}

button#send:hover {
    font-family: cursive;
    margin-bottom: 30px;
    background-color: pink;
    color: white;
    padding: 16px;
    border: black 2px;
    position: relative;
}

button#get {
    font-family: cursive;
    margin-bottom: 30px;
    background-color: cadetblue;
    color: white;
    padding: 16px;
    border: black 2px;
    position: relative;
    width: 140px;
}

button#get:hover {
    font-family: cursive;
    margin-bottom: 30px;
    background-color: pink;
    color: white;
    padding: 16px;
    border: black 2px;
    position: relative;
    width: 140px;
}

button#getHTML {
    font-family: cursive;
    margin-bottom: 30px;
    background-color: cadetblue;
    color: white;
    padding: 16px;
    border: black 2px;
    position: relative;
    width: 140px;
}

button#getHTML:hover {
    font-family: cursive;
    margin-bottom: 30px;
    background-color: pink;
    color: white;
    padding: 16px;
    border: black 2px;
    position: relative;
    width: 140px;
}

p#gesamt {
    position: fixed;
    top: 274px;
    right: 1169px;
    background-color: pink;
    padding: 15px;
    padding-right: 21px;
    color: white;
    letter-spacing: 6px;
}
p#gesatmText {
    position: fixed;
    top: 274px;
    right: 1275px;
    background-color: pink;
    padding: 15px;
    color: white;
    letter-spacing: 6px;
}

input#firstname {
    position: relative;
    margin-bottom: 20px;
    left: -51px;
}

input#lastname {
    position: relative;
    margin-bottom: 20px;
    left: -45px;
}

input#adress {
    position: relative;
    margin-bottom: 20px;
    left: -53px;
}

input#plz {
    position: relative;
    margin-bottom: 20px;
    left: -68px;
}

.artikel button {
    font-family: cursive;
    margin-bottom: 30px;
    background-color: cadetblue;
    color: white;
    padding: 16px;
    border: black 2px;
    position: relative;
    bottom: 90px;
    right: 15px;
    margin-left: 10px;
}

.artikel button:hover {
    font-family: cursive;
    background-color: pink;
    color: black;
    padding:5px;
    border: black 2px;
    margin-bottom: 30px;
    padding: 16px;
    position: relative;
    bottom: 90px;
    right: 15px;
}



img {
    height: 155px;
    padding: 20px;
    margin-right: 20px;
}

div#vorschau {
    border: aliceblue;
    background-color: aliceblue;
    width: 300px;
    height: 400px;
    position: fixed;
    left: 50px;
    top: 330px;
}

        h3#kategorie_vorschau {
            position: fixed;
            left: 50px;
            top: 230px;
        }
       

        div#Klassisch>img {
            width: 80%;
            height: auto;
            border: none;
            padding: 0px;
            position: absolute;
            top: 170px;
            left: 10px;
        }

        div#Pappbecher>img {
            position: absolute;
            width: 60%;
            height: auto;
            border: none;
            padding: 0px;
            bottom: 50px;
            left:50px;
            z-index: -6;
        }

        div#Schokolade>img {
            position: absolute;
            width: 40%;
            height: auto;
            border: none;
            padding: 0px;
            left: 90px;
            top: 120px;
        }

        div#Früchte>img {
            position: absolute;
            width: 30%;
            height: 30%;
            border: none;
            padding: 0px;
            left: 100px;
            top: 100px;
            z-index: -1;
        }

        div#Mango>img {
            position: absolute;
            width: 30%;
            height: 30%;
            border: none;
            padding: 0px;
            left: 80px;
            top: 100px;
            z-index: -2;
        }

        div#Nougat>img{
            position: absolute;
            width: 30%;
            height: 30%;
            border: none;
            padding: 0px;
            left: 125px;
            top: 110px;
            z-index: -3;
        }

        div#Vanille>img{
            position: absolute;
            width: 30%;
            height: 30%;
            border: none;
            padding: 0px;
            left: 60px;
            top: 110px;
            z-index: -4;
        }

        div#Kirsche>img {
            height: 30%;
            border: none;
            padding: 0px;
            bottom: 260px;
            left: 80px;
            position: absolute;
        }

        div#Schoko-Streusel>img{
            position: absolute;
            width: 30%;
            height:30%;
            border: none;
            padding: 0px;
            left: 100px;
            top:30px;
        }

        div#Schoko-Soße>img{
            position: absolute;
            width: 30%;
            height:30%;
            border: none;
            padding: 0px;
            left: 100px;
            top:30px;
        }

        div#Bunte-Streusel>img{
            position: absolute;
            width: 30%;
            height:30%;
            border: none;
            padding: 0px;
            left: 100px;
            top:30px;
        }


div#waffel {
    display: inline-flex;
    position: relative;
    right: 120px;
}

div#sorte {
    display: inline-flex;
    position: relative;
    left: 210px;
}

div#topping {
    display: inline-flex;
    position: relative;
    left: 110px;
}

h3 {
    position: relative;
    left: -340px;
    letter-spacing: 5px;
    font-weight: 100;
}

h4 {
    position: relative;
    color: white;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
    top: -27px;
    font-size: 22px;
    font-family: cursive;
    background-color: lightblue;
    padding-bottom: 30px;
    max-width: 91%;
    border-radius: 10px;
}

.artikel p {
    position: relative;
    color: white;
    text-align: center;
    bottom: 75px;
    font-size: 30px;
    font-family: cursive;
    background-color: lightblue;
    border-radius: 20px;
    max-width: 91%;
}

h3#kategorie_waffel {
    position: relative;
    left: -340px;
    letter-spacing: 5px;
    font-weight: 100;
}

.order {
    background-image: url(pictures/backgrounds/bg-img3.jpeg);
    background-size: cover;
    max-width: 800px;
    max-height: 800px;
    margin: 0 auto;
    padding: 32px 34px 32px 32px;
    width: 570px;
    position: relative;
    top: 320px;
}

div#order-backend {
    position: relative;
    background-color: white;
    opacity: 75%;
    width: 800px;
    height: 350px;
    left: 20%;
    top: 250px;
}

.table {
    position: relative;
    left: 160px;
}

h3#order-backend{
    position: relative;
    top: -40px ;
}

p.order{
    position: relative;
    right: 30px;
    color: white;
}

p.loginButton {
    font-family: cursive;
    position: relative;
    right: 210px;
}

label.uname {
    position: relative;
    right: 180px;
    color: white;
    font-family: cursive;
}


label.adress {
    position: relative;
    right: 170px;
    color: white;
    font-family: cursive;
}

label.plz {
    position: relative;
    right: 180px;
    color: white;
    font-family: cursive;
}



h2#meine_bestellung {
    color: white;
    font-family: cursive;
    position: relative;
    right: 190px;
}

input[type="submit"] {
    font-family: cursive;
    margin-bottom: 30px;
    background-color: cadetblue;
    color: white;
    padding: 16px;
    border: black 2px;
    position: relative;
    bottom: -30px;
    right: -5px;
}

input[type="submit"]:hover {
    font-family: cursive;
    margin-bottom: 30px;
    background-color: pink;
    color: white;
    padding: 16px;
    border: black 2px;
    position: relative;
    bottom: -30px;
    right: -5px;
}

input#dataGet {
    bottom: -90px;
    right: -125px;
}

div#serverResponse {
    position: relative;
    top: 95px;
    height: 50%;
    margin: 16px;
    font-size: small;
}

div#serverResponseHTML {
    position: relative;
    top: 95px;
    height: 50%;
    margin: 16px;
    font-size: small;
}


footer {
    background-image: url(pictures/backgrounds/footer-bg-img.jpg);
    position: relative;
    top: 325px;
    color: white;
    text-align: center;
    padding: 10px 10px 30px 10px;
    width: 100%;
    display: block;
    z-index: -10;
    height: 200px;
}

a#footera{
    margin-top:30px;
}

h4#footer p {
    position: relative;
    left: 50%;
}

div#Kirsche>p {
    position: relative;
    left: 10px;
    margin-left: 0px;
    width: 50px;
    font-size: x-small;     
}
div#Klassisch>p {
    position: relative;
    left: 10px;
    margin-left: 0px;
    width: 50px;
    font-size: x-small;
}
div#Pappbecher>p {
    position: relative;
    left: 10px;
    margin-left: 0px;
    width: 50px;
    font-size: x-small;
}
div#Schokolade>p {
    position: relative;
    left: 10px;
    margin-left: 0px;
    width: 50px;
    font-size: x-small;
}
div#Früchte>p {
    position: relative;
    left: 10px;
    margin-left: 0px;
    width: 50px;
    font-size: x-small;
}
div#Mango>p {
    position: relative;
    left: 10px;
    margin-left: 0px;
    width: 50px;
    font-size: x-small;
}
div#Vanille>p {
    position: relative;
    left: 10px;
    margin-left: 0px;
    width: 50px;
    font-size: x-small;
}
div#Schoko-Streusel>p {
    position: relative;
    left: 10px;
    margin-left: 0px;
    width: 50px;
    font-size: x-small;
}
div#Schoko-Soße>p {
    position: relative;
    left: 10px;
    margin-left: 0px;
    width: 50px;
    font-size: x-small;
}
div#Bunte-Streusel>p {
    position: relative;
    left: 10px;
    margin-left: 0px;
    width: 50px;
    font-size: x-small;
}
div#Nougat>p {
    position: relative;
    left: 10px;
    margin-left: 0px;
    width: 50px;
    font-size: x-small;
}
h5 {
    position: relative;
    top: 120px;
    left: -165px;
    margin-right: 70px;
    display: inline;
    font-size: 15px;
}

h5#warenkorbWert {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: x-large;
}

.serverResponse{

}

